version: "3.6"
services:
  dln-executor:
    image: debridgefinance/dln-executor
    # container_name: dln-executor${DOCKER_ID}
    build: .
    container_name: dln-executor
    restart: unless-stopped
    environment:
      - ENABLED_CHAINS=${ENABLED_CHAINS}
      - LOG_LEVEL=${LOG_LEVEL}
      - WS_API_KEY=${WS_API_KEY}
      - COINGECKO_API_KEY=${COINGECKO_API_KEY}
      - SENTRY_DSN=${SENTRY_DSN}

      - ARBITRUM_RPC=${ARBITRUM_RPC}
      - ARBITRUM_BENEFICIARY=${ARBITRUM_BENEFICIARY}
      - ARBITRUM_TAKER_PRIVATE_KEY=${ARBITRUM_TAKER_PRIVATE_KEY}
      - ARBITRUM_UNLOCK_AUTHORITY_PRIVATE_KEY=${ARBITRUM_UNLOCK_AUTHORITY_PRIVATE_KEY}

      - AVALANCHE_RPC=${AVALANCHE_RPC}
      - AVALANCHE_BENEFICIARY=${AVALANCHE_BENEFICIARY}
      - AVALANCHE_TAKER_PRIVATE_KEY=${AVALANCHE_TAKER_PRIVATE_KEY}
      - AVALANCHE_UNLOCK_AUTHORITY_PRIVATE_KEY=${AVALANCHE_UNLOCK_AUTHORITY_PRIVATE_KEY}

      - BNB_RPC=${BNB_RPC}
      - BNB_BENEFICIARY=${BNB_BENEFICIARY}
      - BNB_TAKER_PRIVATE_KEY=${BNB_TAKER_PRIVATE_KEY}
      - BNB_UNLOCK_AUTHORITY_PRIVATE_KEY=${BNB_UNLOCK_AUTHORITY_PRIVATE_KEY}

      - ETHEREUM_RPC=${ETHEREUM_RPC}
      - ETHEREUM_BENEFICIARY=${ETHEREUM_BENEFICIARY}
      - ETHEREUM_TAKER_PRIVATE_KEY=${ETHEREUM_TAKER_PRIVATE_KEY}
      - ETHEREUM_UNLOCK_AUTHORITY_PRIVATE_KEY=${ETHEREUM_UNLOCK_AUTHORITY_PRIVATE_KEY}

      - POLYGON_RPC=${POLYGON_RPC}
      - POLYGON_BENEFICIARY=${POLYGON_BENEFICIARY}
      - POLYGON_TAKER_PRIVATE_KEY=${POLYGON_TAKER_PRIVATE_KEY}
      - POLYGON_UNLOCK_AUTHORITY_PRIVATE_KEY=${POLYGON_UNLOCK_AUTHORITY_PRIVATE_KEY}

      - SOLANA_RPC=${SOLANA_RPC}
      - SOLANA_TAKER_PRIVATE_KEY=${SOLANA_TAKER_PRIVATE_KEY}
      - SOLANA_UNLOCK_AUTHORITY_PRIVATE_KEY=${SOLANA_UNLOCK_AUTHORITY_PRIVATE_KEY}
      - SOLANA_BENEFICIARY=${SOLANA_BENEFICIARY}

